
.body{
    background-color: #dcf4f5;
    
}

.dot {
    position: absolute;
    top:10%;
    left:30%;
  height: 450px;
  width: 450px;
  background-color: #7986cb;

  border-radius: 50%;
  border-style:dashed;
  
  border-color: #feebf2;
  display: inline-block;
}
#moon{
    position: absolute;
    top:24%;
    left: 36.5%;
  height: 250px;
  width: 250px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 

 
}
.dot3 {
    position: absolute;
    top:21%;
    left: 43%;
  height: 200px;
  width: 200px;
  background-color: #7986cb;
  border-radius: 50%;
 
}
.star1 {
    position: absolute;
    top:21%;
    left: 43%;
  height: 20px;
  width: 20px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 
}
.star1 {
    position: absolute;
    top:21%;
    left: 48%;
  height: 20px;
  width: 20px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 
}.star2 {
    position: absolute;
    top:29%;
    left: 50%;
  height: 10px;
  width: 10px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 
}.star3 {
    position: absolute;
    top:25%;
    left: 34%;
  height: 20px;
  width: 20px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 
}.star4 {
    position: absolute;
    top:35%;
    left: 32%;
  height: 10px;
  width: 10px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 
}.star5 {
    position: absolute;
    top:39%;
    left: 47%;
  height: 12px;
  width: 12px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 
}.star6 {
    position: absolute;
    top:42%;
    left: 34%;
  height: 14px;
  width: 14px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 
}.star7 {
    position: absolute;
    top:40%;
    left: 55%;
  height: 16px;
  width: 16px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 
}.star8 {
    position: absolute;
    top:65%;
    left: 43%;
  height: 20px;
  width: 20px;
  background-image:linear-gradient(to right,#a1ffce , #faffd1);
  border-radius: 50%;
 
}
.eye1{
    position: absolute;
    top:39%;
    left: 41%;
    height: 23px;
  width: 23px;
  background-color:#000000;
  border-radius: 50%;
 
 
}
.eye2{
    position: absolute;
    top:39%;
    left: 37.5%;
  height: 23px;
  width: 23px;
  background-color:#000000;
  border-radius: 50%;

 
}
.eyeshine1{
    position: absolute;
    top:39%;
    left: 41.5%;
  height: 12px;
  width: 12px;
  background-color:#fff;
  border-radius: 50%;

 
}.eyeshine2{
    position: absolute;
    top:40%;
    left: 41.2%;
  height: 7px;
  width: 7px;
  background-color:#fff;
  border-radius: 50%;

 
}.eyeshine3{
    position: absolute;
    top:39%;
    left: 38%;
  height: 12px;
  width: 14px;
  background-color:#fff;
  border-radius: 50%;
  
 
 } .eyeshine4{
    position: absolute;
    top:40.3%;
    left: 37.75%;
  height: 7px;
  width: 7px;
  background-color:#fff;
  border-radius: 50%;

 
}
.blush1{
    position: absolute;
    top:43%;
    left: 37.5%;
    height: 20px;
  width: 28px;
  background-color:#f0b5c9;
  animation: blink 1s linear infinite;
  
  border-radius: 50%;
 
 } .blush2{
    position: absolute;
    top:43%;
    left: 41.5%;
  height: 20px;
  width: 28px;
  background-color:#f0b5c9;
  border-radius: 50%;
  animation: blink 1s linear infinite;
 
}
.smile{
    position: absolute;
    padding-left: 18.7%;
    padding-top: 38%;
    font-family: cursive;
    font-size:20;
    
 
 
}

.sanyu{
    position: absolute;
    top:75%;
    left: 43%;
    background-color: #dcf4f5;
    color: #8fdbd8;
    
}

.animate{
    animation: shake 1s ;
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
